/* ====================
Common-Css
==================== */
.orange_bg{
    background: #e76f51 !important;
}
.orange_color{
    color: #e76f51 !important;
}
.para_color{
    color: #E0E0E0 !important;
}
.bl_color{
    color: #000 !important;
}
.img_grayscale{
    filter: grayscale(100%);
}
.section_margin{
    margin-bottom: 130px;
}




/* ====================
Custom-Css
==================== */
header{
    background: #264653;
}
#activeLogin {
    padding: 7px 24px;
    background: #e76f51;
}
h1{
    font-size: 48px;
}
.featured_title hr{
    width: 58px;
    border-bottom: 2px solid #e76f51;
    opacity: 1;
}
.featured_honda img{
    width: 288px;
    height: 243px;
}
.latest_news{
    box-shadow: 0 0 5px lightgray;
}
.latest_news .latest_news_details h4{
    color: #18191F;
}
.latest_news .latest_news_details p{
    color: #6C6C6C;
}
.latest_news .latest_news_details a {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid #e76f51;
    transition: 0.4s;
}
.latest_news .latest_news_details a:hover{
    background: #e76f51;
    color: #fff !important;
}
.testimonial_title h1{
    color: #18191F;
}
.testimonial {
    border: 1px solid lightgray;
    padding: 40px 35px;
}
.testimonial img{
    width: 149px;
    height: 149px;
}
.testimonial p{
    color: #6C6C6C;
}
.testimonial span img{
    width: 22px;
    height: 22px;
}
.faq_title h1{
    color: #18191F;
}
.faq_img img{
    width: 80%;
}
.get_in_touch_title h1{
    color: #18191F;
}
.contact_img img{
    width: 80%;
}
form .input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 15px;
}
form .input input {
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 15px 17px;
    border-radius: 5px;
}
form .input input:focus{
    border: 1px solid #264653;
    background: #2646530e;
}
form textarea{
    width: 100%;
    padding: 15px 17px;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 120px;
    margin-bottom: 25px;
}
form textarea:focus{
    border: 1px solid #264653;
    background: #2646530e;
}
form button{
    padding: 12px 40px;
    border: 1px solid #e76f51;
    color: #e76f51;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    background: none;
}
form button:hover{
    background: #e76f51;
    color: #fff;
}
footer{
    background: #0b0d17;
    padding: 60px 0;
}
.getApp img{
    width: 135px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}


/* ============= Media Query ============= */

@media only screen and (max-width: 688px){
    form .input{
        grid-template-columns: repeat(1, 1fr);
    }
}